body {
    background: aqua;
    font-family: Georgia;
}

h1 {
    font-family: cursive;
    font-size: 60px;
    color: darkblue;
}

h4 {
    text-align: right;
    font-style: italic;
}

p {
    text-align: justify;
}